@media (max-width:670px) {
/* HEADER------------------- */
    /* header{
    height: 60px;
    width: 100%;
    background-color: rgba(47, 52, 52, 0.993);
    } */
    /* .header-rigth .menu a{
        font-size:8px;
        padding: 0px;
    } */
/* 
    .header-rigth .logo h3 {
        font-size: 18px;
        padding:20px 0px 0px 0px;
        margin: 0;
    } */
    .menu{
        display: none;
    }

    .menu-icon span{
        margin-left: 110px;
        display: block;
    } 

    .oke .menu-icon{
        font-size: 20px;
    }

    .menu-icon{
        /* border: 1px solid white; */
        color: white;
    }

    



/* -------------------------- */

/* top-wrapper---------------------- */
    
.top-wrapper h1{
    font-size: 40px;
}


    

/* ------------------- */
/* LESSON-WRAPPER---------------------- */
.lesson-wrapper{
    /* text-align:center; */
    height: 500px;
}



/* -------------------- */
/* CONTACT-FORM----------------------------- */
.email input{
    width: 300px;
}

.massage textarea{
    width:300px;
}



/* ---------------------- */


    .container{
        margin:0;
        /* max-width:100%; */
    }

    .icons{
        flex-direction:column;
    }

    .icons .icon{
        margin:0 auto;
    }
}

/* -------------------------- */

footer{
    text-align:center;
    height:100px;
    padding:20px 0px 0px 0px;
}
.left1 h3{
    float:none;
    font-size: 20px;
}

.left2 li{
    padding:0px;
}

ul{
    display: flex;
}

.left2{
    float: none;
    /* display: flex; */
}

.left2 a{
    background-color: aliceblue;
    border-radius: 6px;
    padding: 2px;
    color: black;
    font-weight: bold;
    opacity: 0.7;
    font-size: 12px;
    letter-spacing: 0px;
}

.left2 .tengah{
    padding: 0px 10px;
}
